<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
    <h3>Cadastro de Endereço</h3>
    <div><b>Cliente: </b>
<!--        <span th:text="${cliente.nome}"></span></div>-->
    <br />
    <form action="/endereco/cadastra" method="post">
        <input type="hidden" name="id" th:value="${cliente.id}">
        Cep: <input type="text" name="cep" th:value="${cep}" size="10"/><br />
        Rua: <input type="text" name="rua" th:value="${rua}" size="30" /><br />

        <br />
        <input type="submit" value="Cadastra" />
    </form>

    <a th:href="@{/cliente/lista}">voltar</a>
</body>
</html>