<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>

    <form th:action="@{/produto/atualiza}" method="POST">
        <input type="hidden" name="id" th:value="${produto.id}">
        Nome: <input type="text" name="nome" th:value="${produto.nome}" /><br />
        Descrição: <input type="text" name="descricao" th:value="${produto.descricao}"  /><br />
        Categoria:
        <select name="categoria">
            <option th:each="categoria : ${categorias}" th:value="${categoria}" th:text="${categoria.descricao}" th:selected="${categoria.descricao} == ${produto.categoria.descricao}"    ></option>
        </select>
        <br />
        Preço: <input type="text" name="preco" th:value="${produto.preco}" /><br />

        <br />
        <input type="submit" value="Alterar">
    </form>
    <a th:href="@{/produto/lista}">voltar</a>
</body>
</html>