<html xmlns:th="http://www.w3.org/1999/xhtml">
    <body>
        <h2>Cadastro de Produto</h2>
        <form action="/produto/cadastra" method="post">
            Id: <input type="text" name="id" /> <br />
            Nome: <input type="text" name="nome" /> <br />
            Descrição: <input type="text" name="descricao" /> <br />

            Categoria:
            <select name="categoria">
                <option th:each="categoria : ${categorias}" th:value="${categoria}" th:text="${categoria.descricao}"></option>
            </select>
            <br />

            Preço: <input type="text" name="preco" /> <br /><br />

            <input type="submit" value="Cadastra" />
        </form>
    </body>
</html>