<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link th:href="@{/produto/css/produto.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/produto/js/produto.js}"></script>
</head>
<body>
    <h3>Lista de Produtos</h3>
    <a th:href="@{/produto/form}">Cadastra produto</a>


    <span th:text="${sucesso}"></span>

    <table>
        <tr>
            <td>Id</td>
            <td>Nome</td>
            <td>Preço</td>
        </tr>
        <tr th:each="produto : ${produtos}">
            <td>
                <a th:href="@{/produto/detalhe/{id}(id=${produto.id})}" th:text="${produto.id}"></a>
            </td>
            <td th:text="${produto.nome}"></td>
            <td th:text="${produto.preco}"></td>
        </tr>
    </table>



</body>
</html>