<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link th:href="@{/produto/css/produto.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/produto/js/produto.js}"></script>
</head>
<body>
    Admin: <span th:text="${#authentication.principal.usuario.nome}" ></span>
    <h3>Lista de Produtos</h3>
    <span th:text="${sucesso}"></span>
    <table>
        <tr>
            <td>Id</td>
            <td>Nome</td>
            <td>Preço</td>
            <td></td>
            <td></td>
        </tr>
        <tr th:each="produto : ${produtos}">
            <td>
                <a th:href="@{/produto/detalhe/{id}(id=${produto.id})}" th:text="${produto.id}"></a>
            </td>
            <td th:text="${produto.nome}"></td>
            <td th:text="${produto.preco}"></td>
            <td>
                <a th:href="@{/produto/deleta(id=${produto.id})}" >excluir</a>
            </td>
            <td>
                <a th:href="@{/produto/preparaAltera(id=${produto.id})}">alterar</a>
            </td>
        </tr>
    </table>

    <br />
    <a th:href="@{/home}">voltar</a>
    <a th:href="@{/logout}">sair</a>
</body>
</html>